.DS_Store
**/.DS_Store
**/*~
hw1
hw2
SampleOpencv
Project
SimpleCVPractice
TrafficFlow/DerivedData
TrafficFlow/TrafficFlow.xcodeproj/*
TrafficFlow/TrafficFlow-himsjxiyoqmbaqeqyuafecoyrhig
TrafficFlow/data/video
TrafficFlow/server/bin/web
